<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Hello <%= @user.name %>!</h1>

    <h2>Address:</h2>
    <h2><%= @user.street %></h2>
    <h2><%= @user.city %>, <%= @user.state %> <%= @user.zip %></h2>
    <h2>Phone: <%= @user.phone %></h2>

    <h3>Cars you have rented:</h3>

    <ul>
      <% @user.rentals.each do |rent| %>
      <li><%= link_to rent.car.make + " " + rent.car.model, car_path(rent.car) %><br>
      </li>
      <% end %>
    </ul>
    <% if current_user.id == @user.id %>
    <%= button_to "Edit", edit_user_path, method: :get %><br>
    <%= button_to "Delete Account", @user, method: :delete, data: {confirm: "Delete your account?"} %>
    <% end %>

  </body>
</html>
