<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Rent This Car</h1>
    <% if flash[:unavailable] %>
    <li><%= flash[:unavailable] %></li>
    <% end %><br><br>

    <%= form_for @rental do |f| %>
    <%= f.label :pick_up %>
    <%= f.date_field :pick_up, class: 'datepicker' %><br>
    <%= f.label :drop_off %>
    <%= f.date_field :drop_off, class: 'datepicker' %><br>
    <%= f.label :car_id %>
    <%= f.collection_select :car_id, @cars, :id, :model, { prompt: "Choose a car" }, class: "browser-default" %><br>
    <%= f.submit %>
    <% end %>

  </body>
</html>
