<!DOCTYPE html>
<html>
  <head>
    <title>Zoinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a href=<%= cars_path %> class="brand-logo">Zoinks</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Home", cars_path %></li>
        <li><%= link_to "Rent", new_rental_path %></li>
        <li><%= link_to "Sell", new_sale_path %></li>
        <li><a><% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %></a></li>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
